# Example local environment for PKM (gitignored)
# Copy to `.env.local` and fill in real secrets. Do NOT commit `.env.local`.

# Backend
PORT=6968

# Frontend
VITE_API_URL=https://db.houseofmates.space/api
VITE_PUBLIC_URL=https://houseofmates.space
VITE_NOCOBASE_URL=https://db.houseofmates.space
BROADCAST_AUTH_KEY=BROADCAST_AUTH_KEY
VITE_NOCOBASE_API_TOKEN=VITE_NOCOBASE_API_TOKEN

VITE_DOMAIN=houseofmates.space
