[Unit]
Description=PKM Sync Server
After=network.target

[Service]
Type=simple
User=house
WorkingDirectory=/home/house/pkm
ExecStart=/usr/bin/node server/sync-server.js
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
