[Unit]
Description=PKM Services Auto-Start
After=network.target docker.service

[Service]
Type=oneshot
ExecStart=/home/house/pkm/start_pkm_services.sh
RemainAfterExit=yes
User=house
Environment=PATH=/home/house/.nvm/versions/node/v24.12.0/bin:/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
