[Unit]
Description=PKM Backend Server (Live Stats)
After=network.target

[Service]
ExecStart=/home/house/.nvm/versions/node/v24.12.0/bin/node /home/house/pkm/packages/backend/server.js
WorkingDirectory=/home/house/pkm
Restart=always
User=house
Environment=PORT=4100
Environment=PATH=/home/house/.nvm/versions/node/v24.12.0/bin:/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=default.target
